@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nova+Mono&display=swap');

*{
   
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    margin: 0%;
    background-color: #000;
}

/* PARTE NAVBAR */

nav{
    
   box-shadow: 1px 1px 10px  rgb(138, 43, 226);
    display: flex;
    justify-content: center;
    align-items: center;
   
    height: 80px;
    width: 100%;
   
}
ul{
    list-style-type: none;
}
/* Fonte e cor */
nav{
    font-family: 'Lobster', cursive;
    font-size: 32px;
    color:rgb(255, 255, 255) ;
    background-color: black;
}

nav > ul{
    
    padding: 60px;
}
.link-nav{
    text-decoration: none;
    color: #ffff;
    transition: 0.5s;
    text-shadow: 2px 2px 2px rgb(138, 43, 226);
}

.link-nav:hover{
transition: 0.5s;
color: rgb(138, 43, 226);
text-shadow: 1px 1px 1px white;
text-decoration: underline rgb(138, 43, 226);;
}

#home{
text-shadow: 1px 1px 1px #ffff ;
    color: rgb(138, 43, 226);
    text-decoration: underline  rgb(138, 43, 226);;
}



/* fFECHANDO NAVBAR */

/* CARDS */
.cards{
    padding: 50px;
    display: flex;
    justify-content: center;
  
}
.div-card{
    
    display: flex;
    justify-content: center;
    height: auto;
    width: 50vhpx;
    flex-wrap: wrap;
}

.p-style{
    font-family: 'Lobster', cursive;

    font-family: 'Nova Mono', monospace;
    text-shadow: 2px 1px 3px rgb(138, 43, 226);
    font-size: 25px;
    color: #ffff;
}

#eu{
  
    border: solid 2px rgb(82, 15, 121);
height: 460px;
width: 400px
}
#img{
    height: 100px;
    width: 100px;
}
ul{
    margin: 0;
    padding: 0%;
}
p{
    margin: 0;
    padding: 0%;
   height: auto;
 
}
.lista{
    margin: 0%;
    padding: 0%;
    width: 400px;
}

/* CARDS PROJETOS */
.card-projeto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: auto;
    width: auto;
}
.ul-divP{
    margin: 0%;

}
#imgP{
    margin: 0%;
    height: 500px;
    margin-left: -73%;
   
    
}
#imgP{
    
}
.Naparece{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    transform: translateX(-1000px);
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(to right, black ,rgb(91, 7, 148),rgb(55, 5, 88),rgb(33, 2, 53),black);
   border-radius: 20px;
   animation: fadeend 0.5s ease-out  ;
   
}
.aparece{
    background-image: linear-gradient(to right, black ,rgb(91, 7, 148),rgb(55, 5, 88),rgb(33, 2, 53),black);
    transform: translateX(220px);
    animation: fade 0.5s ease-out  ;
}

@keyframes fade {
    0%{
        filter: opacity(0);
    }
    25%{
        filter: opacity(0.1);
    }
    75%{
        filter: opacity(0.2);
    }
    100%{
        filter: opacity(1);
    }
    
}
@keyframes fadeend {
    0%{
        filter: opacity(0.2);
    }
    25%{
        filter: opacity(0.1);
    }
    75%{
        filter: opacity(0);
    }
    100%{
        filter: opacity(0);
    }
    
    
}





