
font-face {
    font-family: ;
    src: url([caminho]);
 }
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav{
font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 10px;
    
}
li{
    list-style-type: none;
}
ul{
    
    padding-left: 90px;
}

